.form-container {
   /* width: 100%;*/
	float:left;
	width:49.5%;
	margin-right:5px;
	height:875px;
	.form-group {
        width: 50%;
        float: left;
        margin-left: 0 !important;
        .btn-pass {
            padding: 5px 25px;
            font-size: 14px;
            border: 1px solid #ccc8c8;
        }
    }
}

input[type="text"]:disabled {
    background: #f4f4f4;
  }

  select:disabled {
    background: #f4f4f4;
  }