<div class="page-wrap">
    <div class="datatable">
        <div class="row">
            <div class="col">
                <h5 class="mb-0">{{ 'User' |translate}} </h5>
                <span>
                    <button [disabled]="!isEditEnabled" (click)="viewDetails(userFormModel,'Add')"><i class="fa fa-plus"
                            aria-hidden="true"></i></button>
                    <button [disabled]="actionType === 'Add' || !isEditEnabled" (click)="deleteRecord(template);"><i
                            class="fa fa-minus" aria-hidden="true"></i></button>
                    <button class="btn btn-sort" (click)="getUserList();">{{ 'StandardSorting' |translate}} </button>
                </span>
            </div>
            <div class="col">
                <span>
                    <button (click)="enableEdit();"><i class="fa fa-pencil"></i></button>
                    <button [disabled]="!isFormShown || userForm.pristine" (click)="onFormSubmit();"><i
                            class="fa fa-check"></i></button>
                    <button [disabled]="!isFormShown" (click)="resetForm();"><i class="fa fa-times"></i></button>
                </span>
                <div class="search-wrapper">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input [(ngModel)]="searchText" [disabled]="!dataList?.length" [placeholder]="'Search' | translate">
                </div>
            </div>
        </div>
        <hr class="mt-1 mb-2">
        <div id="dataTable_wrapper" class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <thead>
                            <tr role="row">
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="userName">
                                    <span> {{'LoginName' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="firstName">
                                    <span>{{'FirstName' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="lastName">
                                    <span>{{'LastName' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="eMail">
                                    <span>{{'EmailAddress' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="passwordDate">
                                    <span>{{'LoginDate' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="status">
                                    <span>{{'Status' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="bron">
                                    <span>{{'Source' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="lastUpdated">
                                    <span>{{'DateModified' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="createdDate">
                                    <span>{{'DateCreated' | translate}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(dataList | filter:searchText)?.length">
                                <td colspan="9">
                                    <p class="px-1 px-1 py-1 mb-0 w-100">{{'NoRecordsFound'| translate}}</p>
                                </td>
                            </tr>
                            <ng-container role="row" *ngFor="let data of dataList|filter:searchText">
                                <tr (click)="viewDetails(data,'Edit')"
                                    [ngClass]="{'active': data.userId == tempData?.userId}">
                                    <td>{{data.userName}}</td>
                                    <td><span class="textEllipse">{{data.firstName}}</span></td>
                                    <td><span class="textEllipse">{{data.lastName}}</span></td>
                                    <td>{{data.eMail}}</td>
                                    <td>{{data.lastLoginTime}}</td>
                                    <td>
                                        <span *ngIf="data.status === 'A'">{{'Active'| translate}}</span>
                                        <span *ngIf="data.status === 'I'">{{'Inactive'| translate}}</span>
                                    </td>
                                    <td>{{data.bron}}</td>
									<td *ngIf="data.createdDate !== data.lastUpdated">{{data.lastUpdated}}</td>
									<td *ngIf="data.createdDate === data.lastUpdated"></td>
									<td>{{data.createdDate}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="form-container" *ngIf="isFormShown">
        <div class="form-wrapper">
            <div class="card card-5 border-0">
                <div class="card-heading">
                    <h6 class="title">
                        <span *ngIf="actionType === 'Add'">{{'Add' | translate}}</span>
                        <span *ngIf="actionType === 'Edit'">{{'Edit' | translate}}</span> {{'UserDetails' | translate}}
                    </h6>
                    <!-- <button class="btn close-window" (click)="isFormShown = false;actionType = 'Add';isEditEnabled = false;"><i class="fa fa-window-close" aria-hidden="true"></i></button> -->
                </div>

                <div class="card-body">
                    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()" novalidate>
                        <div class="row pb-2">
                            <div class="col">
                                <div class="row">
                                    <label for="userName" class="col-sm-3 col-form-label">{{'LoginName' |
                                        translate}}<span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" [attr.disabled]="isEnable? true: null"
                                            (focusout)="checkUserNameExist($event)"
                                            [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled,'pointer-events-none': actionType === 'Edit'}"
                                            formControlName="userName" class="form-control" id="userName"
                                            placeholder="">
                                        <span class="error_field"
                                            *ngIf="(!userForm.controls['userName'].value && submitted)">{{'LoginName' |
                                            translate}} {{'Required' | translate}}</span>
                                        <span class="error_field"
                                            *ngIf="userForm.get('userName')?.errors?.maxlength && submitted">
                                            {{'MaxlengthTwentyError' | translate}}
                                        </span>
                                        <span class="error_field position-absolute"
                                            *ngIf="isUserNameExist &&isUserNameExist==='notavailable' && (userForm.controls['userName'].value)">{{'UserNameExists'
                                            | translate}}</span>
                                    </div>
                                    <div *ngIf="isLoaderSpinnerShown" class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label for="eMail" class="col-sm-3 col-form-label">{{'EmailAddress' |
                                        translate}}<span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input
                                            [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}"
                                            type="text" formControlName="eMail" class="form-control" id="eMail"
                                            placeholder="" email="true">
                                        <!-- <span class="error_field" *ngIf="(!userForm.controls['eMail'].value && submitted)">{{'EmailValidate' | translate}} {{'Required' | translate}}</span> -->
                                        <span class="error_field"
                                            *ngIf="(!userForm.controls['eMail'].value && submitted)">{{'EmailValidate' |
                                            translate}}</span>

                                        <span class="error_field"
                                            *ngIf="userForm.get('eMail')?.errors?.maxlength && submitted">
                                            {{'MaxlengthSixtyError' | translate}}
                                        </span>
                                        <span class="error_field" *ngIf="userForm.get('eMail')?.errors?.email || userForm.get('eMail')?.errors?.pattern">
                                            {{'EmailValidate' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row  pb-3 pt-3">
                            <div class="col">
                                <div class="row">
                                    <label for="firstName" class="col-sm-3 col-form-label">{{'FirstName' |
                                        translate}}<span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input
                                            [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}"
                                            type="text" formControlName="firstName" class="form-control" id="firstName"
                                            placeholder="">
                                        <span class="error_field"
                                            *ngIf="(!userForm.controls['firstName'].value && submitted)">{{'FirstName' |
                                            translate}} {{'Required' | translate}}</span>
                                        <span class="error_field"
                                            *ngIf="userForm.get('firstName')?.errors?.maxlength && submitted">
                                            {{'MaxlengthThirtyError' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label for="lastName" class="col-sm-3 col-form-label">{{'LastName' |
                                        translate}}<span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input
                                            [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}"
                                            type="text" formControlName="lastName" class="form-control" id="lastName"
                                            placeholder="">
                                        <span class="error_field"
                                            *ngIf="(!userForm.controls['lastName'].value && submitted)">{{'LastName' |
                                            translate}} {{'Required' | translate}}</span>
                                        <span class="error_field"
                                            *ngIf="userForm.get('lastName')?.errors?.maxlength && submitted">
                                            {{'MaxlengthThirtyError' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row pb-2">
                            <div class="col">

                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <button type="button" [attr.disabled]="!isEditEnabled? true: null"
                                            (click)="resetpassword(tempData.userId);" class="btn-pass">{{'ResetPassword'
                                            |
                                            translate}}</button>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">{{'PasswordUpdatedTime' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input [ngClass]="{'pointer-events-none': true}" type="text"
                                            [attr.disabled]="isEditEnabled? true: false" formControlName="passwordDate"
                                            class="form-control" id="passwordDate" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row pb-3">
                            <div class="col">
                                <div class="row">
                                    <label for="Status" class="col-sm-3 col-form-label">{{'Status' | translate}}<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select id="Status" formControlName="status" class="form-control"
                                            [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}">
                                            <option value="A">{{'Active' | translate}}</option>
                                            <option value="I">{{'Inactive' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">{{'LoginDate' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input [ngClass]="{'pointer-events-none': true}" type="text"
                                            [attr.disabled]="isEditEnabled? true: false" formControlName="lastLoginTime"
                                            class="form-control" id="lastLoginTime" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class="col">
                                <div class="row">
                                    <label for="Bron" class="col-sm-3 col-form-label">{{'Source' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" [attr.disabled]="isEnable? true: true"
                                            [ngClass]="{'pointer-events-none': true}" formControlName="bron"
                                            class="form-control" id="Bron" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">{{'DateModified' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input [ngClass]="{'pointer-events-none': true}" type="text"
                                            [attr.disabled]="isEditEnabled? true: false" formControlName="lastUpdated"
                                            class="form-control" id="lastUpdated" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-3">
                            <div class="col">
                                <div class="row">
                                    <label for="Opmerkingen" class="col-sm-3 col-form-label">{{'Remarks' |
                                        translate}}</label>
                                    <div class="col-sm-8">
                                        <textarea
                                            [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}"
                                            formControlName="desc" class="form-control" id="Opmerkingen"></textarea>
                                        <span class="error_field"
                                            *ngIf="userForm.get('desc')?.errors?.maxlength && submitted">
                                            {{'MaxlengthTwoHundredError' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">{{'DateCreated' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" [ngClass]="{'pointer-events-none': true}"
                                            [attr.disabled]="isEditEnabled? true: false" formControlName="createdDate"
                                            class="form-control" id="D/Tcreatie">
                                    </div>
                                </div>
                            </div>
                        </div>














                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="isLoaderShown">
    <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>{{'DeleteConfirmation' | translate}}</p>
        <button type="button" class="btn btn-default" (click)="confirm()">{{'Yes' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="decline()">{{'No' | translate}}</button>
    </div>
</ng-template>