<div class="dashboard_wrapper">
    <div class="container dashboard h-100">
        <div class="row align-items-center h-100">
            <div class="col">
                <button (click)="openModal(template, 'import')" [disabled]="role!=='Functional Admin'">
                    <div class="card card-stats mb-4 mb-xl-0 red h_172">
                        <div class="card-body">
                            <div class="row align-items-center h-100">
                                <div class="col-auto">
                                    <div class="icon icon-shape text-white rounded-circle shadow">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-muted mb-0">{{'ImportReferenceData' | translate}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col">
                <button (click)="openModal(exportTemplate, 'export')">
                    <div class="card card-stats mb-4 mb-xl-0 red h_172">
                        <div class="card-body">
                            <div class="row align-items-center h-100">
                                <div class="col-auto">
                                    <div class="icon icon-shape text-white rounded-circle shadow">
                                        <!-- <i class="fa fa-cloud-upload" aria-hidden="true"></i> -->
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-muted mb-0">{{'MaintainDomainDataGeneral' | translate}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col">
                <button (click)="openMenu('domains')" [routerLink]="['/domains/centrale',language]"
                    [disabled]="role !== 'Functional Admin'">
                    <div class="card card-stats mb-4 mb-xl-0 primary h_172">
                        <div class="card-body">
                            <div class="row align-items-center h-100">
                                <div class="col-auto">
                                    <div class="icon icon-shape text-white rounded-circle shadow">
                                        <i class="fa fa-table" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-muted mb-0">{{'Manage' | translate}} {{'DomainTable' |
                                        translate}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col">
                <button (click)="openMenu('users')" [routerLink]="['/app/users',language]">
                    <div class="card card-stats mb-4 mb-xl-0 tertiary h_172">
                        <div class="card-body">
                            <div class="row align-items-center h-100">
                                <div class="col-auto">
                                    <div class="icon icon-shape text-white rounded-circle shadow">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col w-50 pr-0">
                                    <h5 class="card-title text-muted mb-0">{{'UserManagement' | translate}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col">
                <button (click)="openMenu('routemodel')" [routerLink]="['/routemodel/geoelement',language]">
                    <div class="card card-stats mb-4 mb-xl-0 tertiary h_172">
                        <div class="card-body">
                            <div class="row align-items-center h-100">
                                <div class="col-auto">
                                    <div class="icon icon-shape text-white rounded-circle shadow">
                                        <i class="fa fa-mars-stroke-h" aria-hidden="true"></i>
                                        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-muted mb-0">{{'Route Model' | translate}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>



<ng-template #template>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{'DoYouWantToContinueWith' | translate}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-check form-check-inline">
            <!-- <input class="form-check-input" type="radio" (click)="changeMethod('import')" [(ngModel)]="methodSelected"
                name="inlineRadioOptions" id="inlineRadio1" value="import"> -->
            <label class="form-check-label" for="inlineRadio1">{{'ImportReferenceData' | translate}}</label>
        </div>
        <!-- <div class="form-check form-check-inline">
            <input class="form-check-input" (click)="changeMethod('export')" [(ngModel)]="methodSelected" type="radio"
                name="inlineRadioOptions" id="inlineRadio2" value="export">
            <label class="form-check-label" for="inlineRadio2">{{'MaintainDomainDataGeneral' | translate}}</label>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitAction();">{{'Continue' | translate}}
        </button>
    </div>
</ng-template>

<ng-template #exportTemplate>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{'DoYouWantToContinueWith' | translate}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div class="form-check form-check-inline"> -->
            <!-- <input class="form-check-input" type="radio" (click)="changeMethod('import')" [(ngModel)]="methodSelected"
                name="inlineRadioOptions" id="inlineRadio1" value="import"> -->
            <!-- <label class="form-check-label" for="inlineRadio1">{{'ImportReferenceData' | translate}}</label> -->
        <!-- </div> -->
        <div class="form-check form-check-inline">
            <!-- <input class="form-check-input" (click)="changeMethod('export')" [(ngModel)]="methodSelected" type="radio"
                name="inlineRadioOptions" id="inlineRadio2" value="export"> -->
            <label class="form-check-label" for="inlineRadio2">{{'MaintainDomainDataGeneral' | translate}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitAction();">{{'Continue' | translate}}
        </button>
    </div>
</ng-template>
<app-import (importEmit)="closeImportModal($event)" [lang]="this.language"
    *ngIf="methodSelected==='import' && isImport"></app-import>
<app-export (exportEmit)="closeExportModal($event)" [lang]="this.language"
    *ngIf="methodSelected==='export' && isImport"></app-export>