<div class="page-wrap">
    <div class="datatable">
        <div class="row">
            <div class="col">
                <h5 class="mb-0">{{ 'SuperblockBlock' | translate}} </h5>
                <span>
                    <button
                        [disabled]="isMode == 'edit'  || superblockList.length<1 || blockList.length<1 ||!isEditEnabled"
                        (click)="addItem();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button [disabled]="isMode !== 'edit'" (click)="deleteRecord(superBlockTemplate);"><i
                            class="fa fa-minus" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="col">
                <span>
                    <!--<button [disabled]="superblockList.length<1 || blockList.length<1 || isMode == 'edit' || isAdd"  (click)="enableEdit();"><i class="fa fa-pencil"></i></button>-->
                    <button (click)="enableEdit();"><i class="fa fa-pencil"></i></button>
                    <button [disabled]="isMode !== 'edit'" (click)="onFormSubmit();"><i
                            class="fa fa-check"></i></button>
                    <button [disabled]="!isEditEnabled" (click)="resetForm();"><i class="fa fa-times"></i></button>
                </span>
                <div class="search-wrapper">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input [(ngModel)]="searchText" [disabled]="!dataList?.length" [placeholder]="'Search' | translate">
                </div>
            </div>
        </div>
        <hr class="mt-1 mb-2">
        <div id="dataTable_wrapper" class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable inline-table" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <thead>
                            <tr role="row">
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="superblock_Id">
                                    <span>{{ 'Superblock' | translate}} Id</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="block_Id">
                                    <span>{{ 'Block' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="status">
                                    <span>{{'Status' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="bron">
                                    <span>{{'Source' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="updatedOn">
                                    <span>{{'DateModified' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="createdOn">
                                    <span>{{'DateCreated' | translate}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="superblockList.length<1 || blockList.length<1">
                                <td colspan="6">
                                    <p class="px-1 px-1 py-1 mb-0 w-100">{{'NoSuperBlockBlock'| translate}}</p>
                                </td>
                            </tr>
                            <tr *ngIf="!(dataList | filter:searchText)?.length">
                                <td colspan="6">
                                    <p class="px-1 px-1 py-1 mb-0 w-100">{{'NoRecordsFound'| translate}}</p>
                                </td>
                            </tr>
                            <ng-container *ngFor="let data of dataList|filter:searchText;let i = index">
                                <tr [ngClass]="{'active': selectedId === data.id,'inactive': selectedId !== data.id}"
                                    (click)="viewDetails(data);">
                                    <td>
                                        <select [(ngModel)]="data.superblock_Id"
                                            [ngClass]="{'disabled-events': !isEditEnabled || editId != data.id,'input-bg-change': editId == data.id}">
                                            <ng-container *ngFor="let superblock of superblockList">
                                                <option [value]="superblock.superblock_Id">{{superblock.superblock_Id}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="data.block_Id"
                                            [ngClass]="{'disabled-events': !isEditEnabled || editId != data.id,'input-bg-change': editId == data.id}">
                                            <ng-container *ngFor="let block of blockList">
                                                <option [value]="block">{{block}}</option>
                                            </ng-container>
                                        </select>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="data.status"
                                            [ngClass]="{'disabled-events': !isEditEnabled || editId != data.id,'input-bg-change': editId == data.id}">
                                            <option *ngFor="let statusItem of statusList" [value]="statusItem.value">
                                                {{statusItem.label | translate}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="data.bron"
                                            [ngClass]="{'pointer-events-none': true}" />
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="data.lastupdatedOn"
                                            [ngClass]="{'pointer-events-none': true}" />
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="data.createdOn"
                                            [ngClass]="{'pointer-events-none': true}" />
                                    </td>
                                </tr>
                            </ng-container>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="loader" *ngIf="isLoaderShown">
    <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #superBlockTemplate>
    <div class="modal-body text-center">
        <p>{{'DeleteConfirmation' | translate}}</p>
        <button type="button" class="btn btn-default" (click)="confirmSuperBlock()">{{'Yes' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="declineSuperBlock()">{{'No' | translate}}</button>
    </div>
</ng-template>