<div class="page-wrap">
    <div class="datatable">
        <div class="row">
            <div class="col">
                <h5 class="mb-0">{{ 'Centre' |translate}} </h5>
                <span>
                <button [disabled]="!isEditEnabled"  (click)="viewDetails(centerFormModel,'Add')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button [disabled]="actionType === 'Add' || !isEditEnabled" (click)="deleteRecord(template);"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </span>
            </div>
            <div class="col">
                <span>
                <button  (click)="enableEdit();" [disabled]="isFormShown"><i class="fa fa-pencil"></i></button>         
                <button [disabled]="!isFormShown || centerForm.pristine" (click)="onFormSubmit();"><i class="fa fa-check"></i></button>      
                <button [disabled]="!isFormShown" (click)="resetForm();"><i class="fa fa-times"></i></button>
            </span>
                <div class="search-wrapper">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input [(ngModel)]="searchText" [disabled]="!dataList?.length" [placeholder]="'Search' | translate">
                </div>
            </div>
        </div>
        <hr class="mt-1 mb-2">
        <div id="dataTable_wrapper" class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <thead>
                            <tr role="row">
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="centre_Id">
                                    <span> {{'Centre' | translate}} Id</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="centre_name">
                                    <span>{{'Centre' | translate}} {{'Name' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="status">
                                    <span>{{'Status' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="bron">
                                    <span>{{'Source' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="lastupdatedOn">
                                    <span>{{'DateModified' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="createdOn">
                                    <span>{{'DateCreated' | translate}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(dataList | filter:searchText)?.length">
                                <td colspan="7">
                                    <p class="px-1 px-1 py-1 mb-0 w-100">{{'NoRecordsFound'| translate}}</p>
                                </td>
                            </tr>
                            <ng-container role="row" *ngFor="let data of dataList|filter:searchText">
                                <tr (click)="viewDetails(data,'Edit')" [ngClass]="{'active': data.centre_Id == tempData?.centre_Id}">
                                    <td>{{data.centre_Id}}</td>
                                    <td>{{data.centre_name}}</td>
                                    <td>
                                        <span *ngIf="data.status === 'A'">{{'Active'| translate}}</span>
                                        <span *ngIf="data.status === 'D'">{{'Inactive'| translate}}</span>
                                    </td>
                                    <td>{{data.bron}}</td>
                                    <td>{{data.lastupdatedOn}}</td>
                                    <td>{{data.createdOn}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="form-container" *ngIf="isFormShown">
        <div class="form-wrapper">
            <div class="card card-5 border-0">
                <div class="card-heading">
                    <h6 class="title">
                        <span *ngIf="actionType === 'Add'">{{'Add' | translate}}</span>
                        <span *ngIf="actionType === 'Edit'">{{'Edit' | translate}}</span> {{'Centre' | translate}} {{'Details' | translate}}</h6>
                    <!-- <button class="btn close-window" (click)="isFormShown = false;actionType = 'Add';isEditEnabled = false;"><i class="fa fa-window-close" aria-hidden="true"></i></button> -->
                </div>
                <div class="card-body">
                    <form [formGroup]="centerForm" (ngSubmit)="onFormSubmit()" novalidate>
                        <div class="form-group row">
                            <label for="CentraleID" class="col-sm-3 col-form-label">{{'Centre' | translate}} ID<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled,'pointer-events-none': actionType === 'Edit'}" formControlName="centre_Id" class="form-control" id="CentraleID" placeholder="">
                                <span class="error_field" *ngIf="(!centerForm.controls['centre_Id'].value && submitted)">{{'Centre' | translate}} ID {{'Required' | translate}}</span>
                                <span class="error_field" *ngIf="centerId?.errors?.maxlength && submitted">
                                    {{'MaxlengthError' | translate}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Centralenaam" class="col-sm-3 col-form-label">{{'Centre' | translate}} {{'Name' | translate}}<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}" type="text" formControlName="centre_name" class="form-control" id="Centralenaam" placeholder="">
                                <span class="error_field" *ngIf="(!centerForm.controls['centre_name'].value && submitted)">{{'Centre' | translate}} {{'Name' | translate}} {{'Required' | translate}}</span>
                                <span class="error_field" *ngIf="centerForm.get('centre_name')?.errors?.maxlength && submitted">
                                    {{'MaxlengthFiftyError' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Latitude" class="col-sm-3 col-form-label">{{'Latitude' | translate}}</label>
                            <div class="col-sm-9">
                                <input [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}" type="number" formControlName="lattitude" class="form-control" id="Latitude" placeholder="">
                                <span class="error_field" *ngIf="(!centerForm.controls[ 'lattitude'].valid && submitted)">{{'Latitude' | translate}} {{'Required' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Longitude" class="col-sm-3 col-form-label">{{'Longitude' | translate}}</label>
                            <div class="col-sm-9">
                                <input [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}" type="number" formControlName="longitude" class="form-control" id="Longitude" placeholder="">
                                <span class="error_field" *ngIf="(!centerForm.controls[ 'longitude'].valid && submitted)">{{'Longitude' | translate}} {{'Required' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Opmerkingen" class="col-sm-3 col-form-label">{{'Remarks' | translate}}</label>
                            <div class="col-sm-9">
                                <textarea [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}" formControlName="description" class="form-control" id="Opmerkingen"></textarea>
                                <span class="error_field" *ngIf="centerForm.get('description')?.errors?.maxlength && submitted">
                                    {{'MaxlengthTwoHundredError' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Status" class="col-sm-3 col-form-label">{{'Status' | translate}}<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select id="Status" formControlName="status" class="form-control" [ngClass]="{'disabled-events': !isEditEnabled,'input-bg-change': isEditEnabled}">
                                    <option value="A">{{'Active' | translate}}</option>
                                    <option value="D">{{'Inactive' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Bron" class="col-sm-3 col-form-label">{{'Source' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" [attr.disabled]="actionType === 'Edit'? true: false" [ngClass]="{'pointer-events-none': true}" formControlName="bron" class="form-control" id="Bron" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="actionType === 'Edit'">
                            <label class="col-sm-3 col-form-label">{{'DateModified' | translate}}</label>
                            <div class="col-sm-9">
                                <input [attr.disabled]="actionType === 'Edit'? true: false" [ngClass]="{'pointer-events-none': true}" type="text" formControlName="createdOn" class="form-control" id="D/Twijziging" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="actionType === 'Edit'">
                            <label class="col-sm-3 col-form-label">{{'DateCreated' | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" [attr.disabled]="actionType === 'Edit'? true: false" [ngClass]="{'pointer-events-none': true}" formControlName="lastupdatedOn" class="form-control" id="D/Tcreatie">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="isLoaderShown">
    <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
      <p>{{'DeleteConfirmation' | translate}}</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >{{'Yes' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >{{'No' | translate}}</button>
    </div>
  </ng-template>