<div class="page-wrap">
    <div class="datatable">
        <div class="row">
            <div class="col">
                <h5 class="mb-0">{{ 'AuthorizationCBSMessage' | translate}} </h5>
                <span>
                <button [disabled]="isMode == 'edit' || areaList.length<1 || partnerList.length<1 ||!isEditEnabled" (click)="addItem();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button [disabled]="isMode !== 'edit'" (click)="deleteRecord(CBDPostTemplate);"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </span>
            </div>
            <div class="col">
                <span>
                <button  (click)="enableEdit();" [disabled]="isMode == 'edit' || isAdd"><i class="fa fa-pencil"></i></button>         
                <button [disabled]="isMode !== 'edit'" (click)="onFormSubmit();"><i class="fa fa-check"></i></button>      
                <button [disabled]="!isEditEnabled" (click)="resetForm();"><i class="fa fa-times"></i></button>
            </span>
                <div class="search-wrapper">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input [(ngModel)]="searchText" [disabled]="!dataList?.length" [placeholder]="'Search' | translate">
                </div>
            </div>
        </div>
        <hr class="mt-1 mb-2">
        <div id="dataTable_wrapper" class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable inline-table" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <thead>
                            <tr role="row">
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="area_id">
                                    <span>{{ 'Area' | translate}} Id</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="partner_id">
                                    <span>Partner Id</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="status">
                                    <span>{{'Status' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="bron">
                                    <span>{{'Source' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="lastupdatedOn">
                                    <span>{{'DateModified' | translate}}</span>
                                </th>
                                <th scope="col" [appSort]="dataList" data-order="desc" data-name="createdOn">
                                    <span>{{'DateCreated' | translate}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="areaList.length<1 || partnerList.length<1">
                                <td colspan="6">
                                    <p class="px-1 px-1 py-1 mb-0 w-100">{{'NoAreaPartner'| translate}}</p>
                                </td>
                            </tr>
                            <tr *ngIf="!(dataList | filter:searchText)?.length">
                                <td colspan="6">
                                    <p class="px-1 px-1 py-1 mb-0 w-100">{{'NoRecordsFound'| translate}}</p>
                                </td>
                            </tr>
                            <ng-container *ngFor="let data of dataList|filter:searchText;let i = index">
                                <tr [ngClass]="{'active': selectedId === data.id,'inactive': selectedId !== data.id}" (click)="viewDetails(data);">
                                    <td>
                                        <select [(ngModel)]="data.area_id" [ngClass]="{'disabled-events': !isEditEnabled || editId != data.id,'input-bg-change': editId == data.id}">
                                            <ng-container *ngFor="let area of areaList">
                                                <option [value]="area.area_Id">{{area.area_Id}}</option>
                                            </ng-container>                                                
                                        </select>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="data.partner_id" [ngClass]="{'disabled-events': !isEditEnabled || editId != data.id,'input-bg-change': editId == data.id}">
                                            <ng-container *ngFor="let partner of partnerList">
                                                <option [value]="partner.partnerId">{{partner.partnerId}}</option>
                                            </ng-container>
                                        </select>
                                    </td>
                                    <td>
                                        <select [(ngModel)]="data.status" [ngClass]="{'disabled-events': !isEditEnabled || editId != data.id,'input-bg-change': editId == data.id}">
                                            <option *ngFor="let statusItem of statusList" [value]="statusItem.value">
                                                {{statusItem.label | translate}}</option>
                                            </select>
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="data.bron" [ngClass]="{'pointer-events-none': true}" />
                                    </td>
                                    <td *ngIf="data.createdOn !== data.lastupdatedOn"><input type="text" [(ngModel)]="data.lastupdatedOn" [ngClass]="{'pointer-events-none': true}" /></td>
									<td *ngIf="data.createdOn === data.lastupdatedOn"></td>
									<td>
                                        <input type="text" [(ngModel)]="data.createdOn" [ngClass]="{'pointer-events-none': true}" />
                                    </td>
                                </tr>
                            </ng-container>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="loader" *ngIf="isLoaderShown">
    <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #CBDPostTemplate>
    <div class="modal-body text-center">
		<p>{{'DeleteCbsConfirmation' | translate}}</p>
        <button type="button" class="btn btn-default" (click)="confirmCBDPost()">{{'Yes' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="declineCBDPost()">{{'No' | translate}}</button>
    </div>
</ng-template>