<ng-template #template>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{'ImportFile' | translate}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close();">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="form-group row d-flex">
            <button class="btn btn-icon" (click)="save();" [disabled]="!importObj.fileName"><i class="fa fa-check"></i></button>
            <button class="btn btn-icon" (click)="reset();"><i class="fa fa-times"></i></button>
        </div>
        <div class="form-group response-box" *ngIf="isFileUpload">
            <p>{{'CreatedRecordsCount' | translate}} : {{responseData?.createdRecordsCount}}</p>
            <p>{{'ImportedRecordsCount' | translate}} : {{responseData?.importedRecordsCount}}</p>
            <p>{{'UpdatedRecordsCount' | translate}} : {{responseData?.updatedRecordsCount}}</p>
            <p>{{'TotalRecordsCount' | translate}} : {{responseData?.totalRecordsCount}}</p>
        </div>
        <div class="form-group row">
            <label for="DomainTable" class="col-3 col-form-label">{{'DomainTableImport' | translate}}</label>
            <div class="col-9">
                <select id="DomainTable" class="form-control" [(ngModel)]="importObj.table" (click)="tabChange('table',$event);">
              <option value="UNLOC">{{'COUNTRIES' | translate}}</option>
              <option value="HAZARDOUS_MATERIAL">{{'HAZARDOUSMATERIAL' | translate}}</option>
              <option value="AGENT-DETAILS">{{'AGENTDETAILS' | translate}}</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="customFile" class="col-3 col-form-label">{{'ImportFile' | translate}}</label>
            <div class="col-9">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" (change)="onFileChanged($event)">
                    <label class="custom-file-label" for="customFile">{{importObj.fileName}}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="ListSeperator" class="col-3 col-form-label">{{'ListSeparator' | translate}}</label>
            <div class="col-9">
                <select id="ListSeperator" (click)="tabChange('list',$event);" class="form-control" [(ngModel)]="importObj.listSeperator">
              <!-- <option value="tab">{{'Tab' | translate}}</option> -->
              <option value=";">{{'Semicolon' | translate}}</option>
              <option value=",">{{'Comma' | translate}}</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="Process" class="col-3 col-form-label">{{'Processing' | translate}}</label>
            <div class="col-9">
                <select id="Process" (click)="tabChange('process',$event);" class="form-control" [(ngModel)]="importObj.processingMethod">
              <option value="Add">{{'Add' | translate}}</option>
              <option value="Merge">{{'Merge' | translate}}</option>
              <option value="Overwrite">{{'Overwrite' | translate}}</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="customFile" class="col-3 col-form-label">{{'BackupFile' | translate}}</label>
            <div class="col-9">
                <div class="custom-file">
                    <input type="text" class="form-control" [value]="importObj.importFile" disabled>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="loader" *ngIf="isLoaderShown">
    <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>